* {
  box-sizing: border-box;
}
body {
  background-color: #ff634712;
}

.form-wrapper {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: tomato;
  // position: fixed;
  width: 100%;
}

.search-form input {
    font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid tomato;
  min-width: 300px;
  &:active {
  }
}

.search-btn {
  font-size: 20px;
  border: none;
  padding: 10px 15px;
  border: 1px solid tomato;
  border-radius: 10px;
  background-color: white;
  color: tomato;
  &:hover {
    background-color: #f7d8d3 ;
    // color: white;
    // box-shadow: 3px 3px 5px white;
  }
  cursor: pointer;
}

.gallery {
  margin-top: 70;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-wrap {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-card {
  border: 1px solid #4b434375;
  border-radius: 0 0 4px 4px;
  background-color: #efdfdf75;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 5px #ba3b244f;
    &:hover{
        box-shadow: 6px 6px 10px #ba3b244f;
    }
}

button.load-more {
  padding: 10px 15px;
  margin: 0 auto 20px auto;
  margin-top: 50px;
  display: block;

  border-radius: 10px;

  font-size: 30px;
  border: none;
  background-color: tomato;
  color: white;
  cursor: pointer;
  &:hover{
    box-shadow: 3px 3px 5px #ba3b244f;
  }
}

// button:disabled {
//     background-color: #d29b67;
//     cursor: not-allowed;
// }

/* button.hidden {
  display: none;
} */

button.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  fill: #2a2a2a;
}

.icon:hover {
  fill: #ba3b24;
}

.title {
    margin-top: 250px;
}